<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.macpassprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Profile Picture</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>LIPImageChooseCell</string>
			<key>label</key>
			<string>Choose Image</string>
			<key>action</key>
			<string>chooseImage</string>
			<key>usesJPEG</key>
			<true/>
			<key>compressionQuality</key>
			<real>0.4</real>
			<key>key</key>
			<string>profilePicture</string>
			<key>defaults</key>
			<string>com.nahtedetihw.macpassprefs</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.macpassprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Username</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBSpinnerTableCell</string>
			<key>label</key>
			<string>Choose username</string>
			<key>action</key>
			<string>chooseUsername</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tint Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.nahtedetihw.macpassprefs.color</string>
				<key>fallback</key>
				<string>#FFFFFF</string>
				<key>alpha</key>
				<true/>
				<key>PreviewGradient</key>
				<false/>
				<key>PreviewStyle</key>
				<integer>2</integer>
			</dict>
			<key>label</key>
			<string>Tint Color</string>
			<key>key</key>
			<string>tintColor</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.macpassprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Passcode Type</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.nahtedetihw.macpassprefs</string>
			<key>key</key>
			<string>passcodeType</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Pinpad</string>
				<string>Qwerty</string>
			</array>
			<key>alignment</key>
			<string>1</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.macpassprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Auto Unlock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.macpassprefs</string>
			<key>key</key>
			<string>enableAutomaticUnlock</string>
			<key>label</key>
			<string>Enable Auto Unlock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Startup</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.macpassprefs</string>
			<key>key</key>
			<string>showOnStartup</string>
			<key>label</key>
			<string>Show On Startup</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.macpassprefs</string>
			<key>key</key>
			<string>startWithKeyboard</string>
			<key>label</key>
			<string>Start With Keyboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Shows the passcode view right away (unless music is playing or notifications are present)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>MacPass1.0</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>2021 © ETHN</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
